version: '2'

services:
  mysql:
    image: mysql:8.0
    container_name: six-mysql
    environment:
      - "MYSQL_ROOT_PASSWORD=123456"
      - "TZ=Asia/Shanghai"
    ports:
      - 33060:3306
    networks:
      six:
        ipv4_address: 172.27.0.4

  redis:
    image: redis
    container_name: six-redis
    ports:
      - 63790:6379
    networks:
      six:
        ipv4_address: 172.27.0.5

  local-nginx:
    image: nginx
    container_name: six-nginx
    volumes:
      - ./conf/nginx/conf.d:/etc/nginx/conf.d
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./log/nginx:/var/log/nginx
      - ./test:/var/www/html
    ports:
      - 8080:8080
      - 8081:8081
    networks:
      - six


  local-php:
    build:
      context: .
      dockerfile: PHP.Dockerfile
    image: php8:fpm-swoole
    container_name: six-php
    volumes:
      - ./test:/var/www/html
      - ./conf/php/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./conf/php/php-ini:/usr/local/etc/php/php.ini
      - ./conf/php/php-fpm.d/:/usr/local/etc/php-fpm.d/
      - ./conf/supervisor/:/etc/supervisor/
      - ./log/supervisor:/var/log/supervisor/
    expose:
      - 9000 #php-fpm
      - 5200 #laravel-S
    networks:
      - six

  openresty:
    image: openresty/openresty
    container_name: six-openresty
    volumes:
      - ./conf/openresty-conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./conf/openresty-conf/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
      - ./test:/docker/www
      - ./log/openresty-nginx:/var/log/nginx
    ports:
      - 9090:9090
      - 9091:9091
      - 9092:9092
    networks:
      - six

  es01:
    image: elasticsearch:7.12.1
    container_name: es01
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
#      - ./conf/es/data:/usr/share/elasticsearch/data
      - ./conf/es/conf/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./conf/es/plugins:/usr/share/elasticsearch/plugins
      - ./log/es:/usr/share/elasticsearch/logs
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      - six

  kibana:
    image: kibana:7.12.1
    container_name: kibana
    volumes:
      - ./conf/kibana/conf/kibana.yml:/usr/share/kibana/config/kibana.yml
    ports:
      - 5601:5601
    networks:
      - six

networks:
  six:
    driver: bridge
    ipam:
      driver: default
      config:
       - subnet: 172.27.0.0/16
         gateway: 172.27.0.1