@CHARSET "UTF-8";

img {
	vertical-align: top;
	border: 0;
}

#MagnifierWrap {
	position: relative;
	width: 380px;
	margin: 10px auto;
}

.MagnifierMain {
	position: relative;
	width: 380px;
	height: 350px;
}

.MagnifierMain img {
	/* width: 100%; */
	width: 380px;
	height: 350px;
}

.MagnifierDrag {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #ccc;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	cursor: move;
}

.MagnifierPop {
	position: absolute;
	top: 0;
	overflow: hidden;
	background: #fff url(../images/loading_5.gif)
		no-repeat center center;
}

.MagnifierImg {
	position: absolute;
	top: 0;
	left: 0;
}

.spec-items {
	position: relative;
	width: 292px;
	height: 69px;
	overflow: hidden;
	padding-top: 10px;
	margin: 0 auto;
}

.spec-items ul {
	width: 500%;
	position: absolute;
	top: 10px;
	left: 0;
}

.spec-items ul * {
	/* -webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s; */
	
}

.spec-items li {
	width: 65px;
	height: 65px;
	float: left;
	overflow: hidden;
	margin-right: 5px;
	border: 2px solid #fff;
	cursor: pointer;
}

.spec-items li.on {
	border: 2px solid #0689e1;
}

.spec-items li img {
	width: 100%;
	/* -webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1); */
}

.spec-items li.on img {
	/* -webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2); */
	
}

span.spe_leftBtn, span.spe_rightBtn {
	position: absolute;
	bottom: 0px;
	display: block;
	width: 20px;
	height: 69px;
	line-height: 69px;
	font-family: "黑体";
	text-align: center;
	font-size: 30px;
	color: #ddd;
	cursor: default;
	background-color: #f9f9f9;
}

span.on {
	background-color: #ccc;
	color: #999;
	cursor: pointer;
}

span.spe_leftBtn {
	left: 0;
}

span.spe_rightBtn {
	right: 0;
}